@import url('https://fonts.googleapis.com/css?family=Montserrat');

#main-content {
    float: left;
    height: 100vh;
    width: 47%;
    background: #FAFAFA;
}
form {
    width: 57%;
    margin-top: 47px;
    margin-left: 33.5%;
}
form h1 {
    margin-left: 26px;
    color:#640AA5;
    font-size: 34px;
    font-family: tahoma;
    font-weight: bold;
    margin-bottom: 80px;
}
form h2 {
    font-weight: 500;
    font-size: 26px;
    font-family: 'Montserrat';
    margin-bottom:45px;
}
form span {    
    color : red;
    font-size: 13px;
    margin-top: 3px;
}
label {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Montserrat';
}
.row {
    margin-bottom:30px;
}

.username {
    margin-bottom:38px;
}

.form-control{
    height:45px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius:45px;
    font-size: 15px;
    color: #4F5152;
    border-color: #DBDBDB;
    outline: none;
    box-shadow: none;
}

/* .checkbox-inline {
    width:95%;
    line-height: 25px;
    padding-right: 2.5%;
    margin-bottom:10px; 
}
.checkbox-inline span{
    margin-left:-9%;
}
.checkbox-inline1 {
    display: none;
    width:95%;
    line-height: 25px;
    padding-right: 5%;
    margin-left:4.5%;
    margin-bottom:10px; 
}
.checkbox-inline1 span{
    margin-left:-10%;
}
.checkbox-inline a {
    color: #640AA5;
    text-decoration: none;
}
.checkbox-inline1 span{
    color: #640AA5;
    text-decoration: none;
} */
.checkbox-inline {
    width:95%;
    line-height: 25px;
    padding-right: 2.5%;
    margin-bottom:10px; 
}
.checkbox-inline a {
    color: #640AA5;
    text-decoration: none;
}
.form-group .btn {
    width:95%;
    margin-left:2.5%;
    border-radius:30px;
    height:55px;
    border-radius: 50px;
    color: #9F9F9F;
    font-size: 15px;
    letter-spacing:0.5px;
    outline: none;
    cursor: auto;
}

.right-content {
    float: left;
    width: 53%;
    background-color: #21C1FD;
    height: 100vh;
}
.login {
    position: absolute;
    right: 0;
    margin-top: 45px;
    margin-right:155px; 
    background: #21C1FD;
}
.login .btn {
    background: #21C1FD;
    border-color: white;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    border-radius: 5px;
} 
.login span {
    color: white;
    margin-right: 15px;
    font-size: 14px;
}
.bg-img img {
    max-width: 100%;
    margin-top: 190px;
}
.bg-img {
    margin-left: 50px;
    
}
/* #test {
    color: #9E9E9E;
}
#test .fa {
    font-size: 25px;
    color: red;
    margin-right:10px;
}
#test1 {
    color: #9E9E9E;
}
#test1 .fa {
    cursor: pointer;
    color: #21C1FD;
    font-size: 25px;
    margin-right:10px;
   
} */


@media all and (max-width: 1000px){
    .right-content{
        display: none;
    }
    #main-content {
        width: 100%;
    }
    form {
       
        margin:0 auto;
    }
    form h1 {
        margin-top: 47px;
    }
    
}