<div id="main-content">
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" >
        <h1>Task Pigeon</h1>
        <h2>Complete sign up</h2>
        <div class="row">
            <div class="col-lg-6 form-group" >
                <label for="firstName">First Name</label><br>
                <input type="text" class="form-control" id="firstName" [formControl]="complexForm.controls['firstName']" >
                <span *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" >￼
                    First name required.</span>
            </div>
            <div class="col-lg-6 form-group">
                <label for="lastName">Last Name</label><br>
                <input type="text" class="form-control" id="lastName" [formControl]="complexForm.controls['lastName']" >
                <span *ngIf="complexForm.controls['lastName'].hasError('required') && 
                complexForm.controls['lastName'].touched" >￼
                    Last name required.</span>
            </div>
        </div>
        <div class="form-group username">
            <label for="userName">Username</label><br>
            <input type="text" class="form-control" id="userName" [formControl]="complexForm.controls['userName']" >
            <span *ngIf="complexForm.controls['userName'].hasError('required') && complexForm.controls['userName'].touched" >￼
            Username required.</span>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                    <input type="checkbox" value="checkbox" name="checkbox" [formControl]="complexForm.controls['checkbox']"> 
                    By creating an account on Task Pigeon you agree
                    to the following <a href="https://taskpigeon.co/user-licence-agreement" target="_blank"> licence agreement</a>
            </label>
            <span *ngIf="complexForm.controls['checkbox'].hasError('required') && complexForm.controls['checkbox'].touched" >￼
                    Checkbox required.</span>
        </div>
        


        <!-- <label class="checkbox-inline">
            <span id="test" (click)="changeIcon()" >
            <i class="fa fa-square-o" aria-hidden="true"></i>   
            By creating an account on Task Pigeon you agree
            to the following <a href="https://taskpigeon.co/user-licence-agreement" target="_blank"> licence agreement</a>
            </span>
        </label>
        <label class="checkbox-inline1">
            <span id="test1" (click)="change()" >
            <i class="fa fa-check"  aria-hidden="true" ></i>
            By creating an account on Task Pigeon you agree
            to the following <a href="https://taskpigeon.co/user-licence-agreement" target="_blank"> licence agreement</a>
            </span>
        </label> -->

<!-- [formControl]="complexForm.controls['checkbox']" -->
        <!-- <label for="icon" id="test" (click)="changeIcon()" >
                <i class="fa fa-square-o" aria-hidden="true"></i>Click
        </label>
        <label for="check" id="test1" (click)="change()">
                <i class="fa fa-check"  aria-hidden="true" ></i>Click
        </label> -->
        <div class="form-group">
            <button type="submit" class="btn btn-defoult" [disabled]="!complexForm.valid">NEXT</button>
        </div>
    </form>
</div>
<div class="right-content">
    <div class="login">
        <span>already registered?</span><button type="button" class="btn btn-defoult">Log In</button>
    </div>  
    <div class="bg-img text-center">
        <img src="https://app.taskpigeon.co/assets/images/laptop-main-page.png" alt="laptop">
    </div>
</div>
